.ttr-bookmarks {
    display: flex;
    margin: auto;
}
.Bookmarks{
    
    /* border-radius: 4%; */
    font-family: 'Courier New';
    font-size: 1rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='1000' preserveAspectRatio='none' viewBox='0 0 500 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3cpath d='M250 616.53C239.24 616.53 230.72 614.06 226.19 625C203.08 680.8 187.1 694.96 194.71 750C199 781.02 220.02 797.13 250 797.13C289.95 797.13 333.14 784.17 334.56 750C336.71 698.1 296.46 687.06 257.14 625C254.18 620.32 254.72 616.53 250 616.53' stroke='rgba(245%2c 57%2c 222%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 120C206.92 120 153.23 36.86 153.23 0C153.23 -23.14 201.61 0 250 0C282.97 0 315.93 -19.5 315.93 0C315.93 40.5 288.27 120 250 120' stroke='rgba(245%2c 57%2c 222%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M459.46 250C459.46 226.24 488.19 208.33 500 208.33C508.46 208.33 500 229.16 500 250C500 288.46 509.51 326.92 500 326.92C489.24 326.92 459.46 285.54 459.46 250' stroke='rgba(245%2c 57%2c 222%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M105 750C105 730.18 117.31 708.33 125 708.33C132.12 708.33 134.62 729.46 134.62 750C134.62 763.46 131.79 776.32 125 776.32C116.98 776.32 105 764.17 105 750' stroke='rgba(245%2c 57%2c 222%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M191.96 875C191.96 858.12 220.32 848.36 250 848.36C288.03 848.36 327.38 857.62 327.38 875C327.38 894.16 287.13 921.43 250 921.43C219.42 921.43 191.96 894.65 191.96 875' stroke='rgba(96%2c 110%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 961.54C17.7 961.54 55.56 989.45 55.56 1000C55.56 1008.68 16.42 1011.36 0 1000C-11.36 992.13 -10.08 961.54 0 961.54' stroke='rgba(96%2c 110%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M250 57.5C229.36 57.5 203.63 17.66 203.63 0C203.63 -11.09 226.82 0 250 0C265.79 0 281.59 -9.34 281.59 0C281.59 19.41 268.34 57.5 250 57.5' stroke='rgba(245%2c 57%2c 222%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 142.86C5.75 142.86 22.73 200.07 22.73 250C22.73 264.06 6.78 270.83 0 270.83C-4.58 270.83 0 260.41 0 250C0 196.43 -5.62 142.86 0 142.86' stroke='rgba(245%2c 57%2c 222%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M108.7 375C108.7 363.63 115.76 357.14 125 357.14C137.3 357.14 151.79 360.98 151.79 375C151.79 421.04 135.88 477.27 125 477.27C114.34 477.27 108.7 423.7 108.7 375' stroke='rgba(96%2c 110%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M160.71 500C160.71 493.21 207.4 483.55 250 483.55C262.46 483.55 270.83 492.81 270.83 500C270.83 506.33 261.36 510.59 250 510.59C206.3 510.59 160.71 506.73 160.71 500' stroke='rgba(245%2c 57%2c 222%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M346.43 625C346.43 601.58 351.1 583.06 375 576.22C427.89 561.1 453.74 563.03 500 581.08C516.24 587.42 500 603.04 500 625C500 687.5 500 687.5 500 750C500 753.47 500.74 756.94 500 756.94C499.18 756.94 499.88 752.3 496.88 750C437.38 704.51 432.56 709.19 375 661.36C357.34 646.69 346.43 644.15 346.43 625' stroke='rgba(245%2c 57%2c 222%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M474.21 1000C474.21 981.06 493.22 945.83 500 945.83C506.12 945.83 508.74 981.65 500 1000C495.84 1008.74 474.21 1008.14 474.21 1000' stroke='rgba(245%2c 57%2c 222%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='500' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.bookmark-div{
  
   /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='500' height='50' preserveAspectRatio='none' viewBox='0 0 500 50'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1098%26quot%3b)' fill='none'%3e%3cpath d='M335.17%2c45.29C336.54%2c45.306%2c337.687%2c44.381%2c338.386%2c43.203C339.102%2c41.996%2c339.446%2c40.496%2c338.728%2c39.291C338.023%2c38.107%2c336.548%2c37.771%2c335.17%2c37.801C333.853%2c37.829%2c332.527%2c38.3%2c331.867%2c39.439C331.205%2c40.581%2c331.434%2c41.978%2c332.083%2c43.128C332.745%2c44.301%2c333.823%2c45.274%2c335.17%2c45.29' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M195.636%2c5.59C197.79%2c5.48%2c199.448%2c3.919%2c200.529%2c2.053C201.614%2c0.18%2c202.248%2c-2.091%2c201.173%2c-3.969C200.093%2c-5.857%2c197.811%2c-6.5%2c195.636%2c-6.497C193.468%2c-6.494%2c191.298%2c-5.778%2c190.126%2c-3.954C188.859%2c-1.981%2c188.622%2c0.57%2c189.794%2c2.601C190.966%2c4.632%2c193.294%2c5.71%2c195.636%2c5.59' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M416.726%2c21.851C420.511%2c22.065%2c423.493%2c19.013%2c425.398%2c15.736C427.315%2c12.438%2c428.424%2c8.38%2c426.459%2c5.11C424.536%2c1.91%2c420.459%2c1.295%2c416.726%2c1.307C413.021%2c1.319%2c408.831%2c1.895%2c407.105%2c5.174C405.443%2c8.331%2c407.818%2c11.753%2c409.601%2c14.843C411.385%2c17.935%2c413.162%2c21.65%2c416.726%2c21.851' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M442.415%2c26.048C445.532%2c26.076%2c447.587%2c23.22%2c449.183%2c20.543C450.834%2c17.773%2c452.351%2c14.611%2c450.971%2c11.696C449.42%2c8.419%2c446.04%2c6.256%2c442.415%2c6.244C438.772%2c6.232%2c435.294%2c8.335%2c433.764%2c11.641C432.409%2c14.569%2c434.192%2c17.658%2c435.853%2c20.424C437.443%2c23.071%2c439.327%2c26.02%2c442.415%2c26.048' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M465.421%2c49.772C468.245%2c49.583%2c470.475%2c47.656%2c471.894%2c45.208C473.318%2c42.751%2c474.048%2c39.769%2c472.655%2c37.294C471.24%2c34.781%2c468.304%2c33.624%2c465.421%2c33.711C462.692%2c33.794%2c460.405%2c35.427%2c458.909%2c37.711C457.217%2c40.293%2c455.778%2c43.474%2c457.245%2c46.19C458.76%2c48.996%2c462.239%2c49.985%2c465.421%2c49.772' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M103.462%2c62.997C107.489%2c63.157%2c112.058%2c62.692%2c114.086%2c59.209C116.122%2c55.714%2c114.463%2c51.38%2c112.167%2c48.05C110.202%2c45.201%2c106.922%2c43.883%2c103.462%2c43.801C99.822%2c43.715%2c95.962%2c44.544%2c94.014%2c47.62C91.949%2c50.88%2c92.184%2c55.133%2c94.204%2c58.421C96.136%2c61.565%2c99.775%2c62.851%2c103.462%2c62.997' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M309.976%2c51.593C313.993%2c51.814%2c318.421%2c51.348%2c320.646%2c47.996C323.061%2c44.357%2c322.657%2c39.557%2c320.475%2c35.774C318.291%2c31.987%2c314.345%2c29.378%2c309.976%2c29.494C305.779%2c29.606%2c302.296%2c32.562%2c300.402%2c36.308C298.686%2c39.702%2c299.142%2c43.702%2c301.161%2c46.925C303.053%2c49.945%2c306.417%2c51.397%2c309.976%2c51.593' fill='rgba(0%2c 0%2c 0%2c 1)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1098'%3e%3crect width='500' height='50' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");; */
   background-color: #A85CF9;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   border-radius: 10px;
   height:40px;
}
.dropdown-div{
    
    font-size: 1rem !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    padding: 0.2%;
    margin-bottom: 15px;
}
.ttr-bookmarks .ttr-left-column {
    padding: 10px;
}
.ttr-bookmarks .ttr-center-column {
    padding: 10px;
}
.ttr-bookmarks .ttr-right-column {
    padding: 10px;
}

@media only screen and (min-width: 1300px) {
    .ttr-bookmarks     { width: 1225px; }
    .ttr-bookmarks
    .ttr-left-column   { width: 275px; }
    .ttr-bookmarks
    .ttr-center-column { width: 600px; }
    .ttr-bookmarks
    .ttr-right-column  { width: 350px; }
}
@media only screen and
(min-width: 1100px) and (max-width: 1300px) {
    .ttr-bookmarks     { width: 1038px;  }
    .ttr-bookmarks
    .ttr-left-column   { width: 88px; }
    .ttr-bookmarks
    .ttr-center-column { width: 600px; }
    .ttr-bookmarks
    .ttr-right-column  { width: 350px; }
    .ttr-navigation > li
    { text-align: center !important; }
    .ttr-navigation
    .ttr-label { display: none; }
    .ttr-navigation
    .ttr-tuit-button { width: 50px; }
}

@media only screen and
(min-width: 1000px) and
(max-width: 1100px) {
    .ttr-bookmarks     { width: 978px; }
    .ttr-bookmarks
    .ttr-left-column   { width: 88px; }
    .ttr-bookmarks
    .ttr-center-column { width: 600px; }
    .ttr-bookmarks
    .ttr-right-column  { width: 290px; }
    .ttr-navigation > li
    { text-align: center !important; }
    .ttr-navigation
    .ttr-label { display: none; }
    .ttr-navigation
    .ttr-tuit-button { width: 50px; }
}

@media only screen and (max-width: 1000px) {
    .ttr-bookmarks     { max-width: 688px; }
    .ttr-bookmarks
    .ttr-left-column   { width: 88px; }
    .ttr-bookmarks
    .ttr-center-column { width: 600px; }
    .ttr-bookmarks
    .ttr-right-column  { display: none; }
    .ttr-navigation > li
    { text-align: center !important; }
    .ttr-navigation
    .ttr-label { display: none; }
    .ttr-navigation
    .ttr-tuit-button { width: 50px; }
}
